body{
background-color: #F2F6FA;
    text-align: justify;
    cursor: pointer;
        padding-right: 25%;
    padding-left: 10%;
        font-family: Arial, Helvetica, sans-serif;
}
.title{
    position: relative;
    background-color: #005F9E;
    width: 100%;
    padding: 1rem;
    top: 0;
    left: 0;
    border-bottom: 2px solid #e5e5e5;
}

.row{
position: fixed;
    width: 8%;
    border-right: 1px solid #7e7d87;
    margin: 0;
    left: 0; 
    top: 6rem;
    height: 70%;

}

h1{

    font-weight: bold;
    font-family: "Press Start 2P", system-ui;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.introduccion{

    color: #1565C0;

}
.texto1{

    color: black;
}

.imagen1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(232, 233, 235);
            gap: 1rem;
            min-width: 20px;
            min-height: 250px;
            max-width: 350px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 1.8rem;
 margin: 0 auto 1.8rem auto;
    
}
h2{
    color: #1565C0;
}
h4{
    color: #7e7d87;
}
.footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.footer__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__list {
    flex-grow: 2;
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

.footer__title {
    font-weight: 500;
    padding-bottom: 1rem;
}
.footer__item {
    padding-bottom: 1rem;
}

.footer__link {
    color: var(--font);
    text-decoration: none;
}

.footer__networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--font);
    position: relative;
}

.footer__copy::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 100%;
    max-width: 1200px;
    height: 1px;
    background-color: var(--font);
    opacity: 0.2;
    transform: translateX(-50%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    
}
.introd{
     display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            gap: 1rem;
            min-width: 15px;
            min-height: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 1.8rem;
                        color: #1565C0;
}
.pri{
 display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            gap: 1rem;
            min-width: 15px;
            min-height: 70px;

            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 1.8rem;
                        color: #1565C0;
}
.placa{
                display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            gap: 1rem;
            min-width: 15px;
            min-height: 50px;

            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 1.8rem;
                        color: #1565C0;
}
.sp32{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            gap: 1rem;
            min-width: 15px;
            min-height: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 1.8rem;
            color: #1565C0;
}
